body {
  margin-top: 0;
  padding: 0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container-fluid {
  padding: 0;
}

.title {
  padding-left: 20px;
}

.view-height {
  margin-top: 0;
  height: 100vh;
}

.form-container {
  margin: auto;
  max-width: 400px;
}

.space {
  padding: 20px;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.form input,
select,
radio {
  margin-left: 10px;
}

.button {
  margin-top: -10px;
}

.table-error {
  background-color: rgb(248, 215, 218);
}

.overall-width {
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}