body {
  margin-top: 0;
  padding: 0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container-fluid {
  padding: 0;
}

.title {
  padding-left: 20px;
}

.view-height {
  margin-top: 0;
  height: 100vh;
}

.form-container {
  margin: auto;
  max-width: 400px;
}

.space {
  padding: 20px;
}
