body {
    margin-top: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.title {
    padding-left: 20px;
}

.view-height {
    height: 100vh;
}

.form-container {
  margin: auto;
  max-width: 400px;
}